/* INIZIO CLASSI DI DEBUG DA RIMUOVERE */

header,
section {
	border: 2px dashed green;
}

#header {
	min-height: 80px;
	border: 2px dashed green;
}

[class*="container"] {
	min-height: 20px;
	border: 2px dashed orange;
}

[class*="col"],
#jumbotron>.box {
	min-height: 80px;
	border: 2px dashed aqua;
}

.box.box-img {
	height: 300px;
	width: 300px;
}

.box.box-icon {
	height: 10px;
	width: 500px;
}

[class*="col"]>.box {
	min-height: 80px;
	border: none;
}

/* FINE CLASSI DI DEBUG DA RIMUOVERE */

.navbar-dark {
	background-color: #2c3e50 !important;
}